{% load staticfiles %}
<html>
<head>
  <title>Initiation project</title>
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{% static 'css/news.css' %}">
</head>
<body>
  <div class="page-header">
    <h1>Initiation project</h1>
  </div>
  <h1><a href="{% url 'all' %}">News and Events</a></h1>
  <h1><a href="{% url 'news' %}">News</a></h1>
  <h1><a href="{% url 'events' %}">Events</a></h1>
  <h1><a href="{% url 'search' %}">Search</a></h1>
</body>
</html>